# Bağımlılıklar
node_modules/
.pnp
.pnp.js

# Derleme çıktıları
dist/
build/

# Loglar ve geçici dosyalar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Ortam değişkenleri
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editör dosyaları
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
